*{
    text-decoration: none;
}
body{
    max-width: 1440px;
}
/* Все свойства header - начало*/
.header {
    display: grid;
    grid-template-columns:
    max-content
    1fr
    max-content;
    align-items: center;
    margin: 92px 49px 92px 51px;
    justify-content: space-between;

}

.header__logo{
    display: flex;
    justify-content: center;
    align-items:start;
    padding-right: 150px;
}
.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__menu{
    display: flex;
    gap: 31.5px; 
}

.header__link__no__bullit{
    list-style:none;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

.header__link{
    list-style:circle;
    text-decoration: underline;    
    text-underline-offset: 4px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

.address{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0px 7px 0px;     
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */ 
    }

.header__link_active{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;    
}
/* Все свойства header - конец */

.overlay{
    background-color: rgb(0,0,0,0.6);
    position: absolute;
    z-index:-1;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    
}

/* Все свойства cover  - начало*/
.cover{
    min-width: 1440px;
    max-height: 757px;
    padding:0px;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 100% auto;
    position: relative;
    z-index: -2;
}
   
.cover__title{
    
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 165px 50px 237px;
    
    
}
.aligned-text{
    display: block;
    letter-spacing: 30px;
    
}
.aligned-text__center{
    text-align: center;
    line-height: 100%;
    padding-top:20px;

}
.aligned-text__right{
    text-align: right;
    line-height: 100%;
    padding-top:20px;

}
.letter-spacing-extended{
    letter-spacing: 60px;
    
}
.no-letter-spacing{
    letter-spacing: 0px;
    
}
.cover__description{
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 78px; 
    position:absolute;
    bottom: 50px;
    left: 422px;
    z-index: 1;
   
  }
.cover__description-text{
    display: block;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing:18px;
    
    
}
.bet-button{
    background: transparent;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 12px 32px;
    
}


/* Все свойства cover - конец */

/* Все свойства lots - начало */
.lots {
    
    padding: 180px 50px 181px;
      
}
.lots__heading{
    display: block;
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 27px;

}
.lots__card-list{
    display: flex;
    justify-content: space-between;
    gap:25px;
    list-style: none;
    
}
.lots__card-list-item{
    flex-grow: 1;
}
.card__title{
    display: block;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    padding: 50px 40px 0px ;
    text-underline-offset: 3px;
    
} 
.card__text{
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    flex-wrap: wrap;
    width:430px ;
    height:450px; 
    background-size:contain;    
} 
.card_type_film{
    background-image: url(../images/card-lot-01.jpg);
    position: relative;
    z-index: -2;
    
}
.card_type_book{
    background-image: url(../images/card-lot-02.jpg) ;   
    position: relative;
    z-index: -2;
    
}
.card_type_picture{
    background-image: url(../images/card-lot-03.jpg); 
    position: relative;
    z-index: -2;
}
.lots__look-more-link{
    display: block;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-left: 40px;
    padding-top: 30px;
    text-decoration: underline;
    text-underline-offset: 5px;
}
/* Все свойства lots - конец */

/* Все свойства about - начало */
.about {
    display: grid;
    grid-template-columns: 430px max-content;
    gap:25px;
    padding-left:50px ;
    margin-top: 1px;

}
.about__logo{
    background-color: #000;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    padding:63px 46px;
    margin-left: 95px;
    margin-top: 1px;
}
.about__column{
    grid-template-rows:repeat(3,max-content);
}
.about__title{
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top:100px;
    padding-bottom: 100px;
}
.about__text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 885px;
    align-items: center;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    gap:30px;
}
/* Все свойства about - конец */



/* Все свойства footer - начало */

.footer{
    display: grid;
    grid-template-columns:
    max-content
    max-content
    240px;
    margin: 180px 50px 90px;
    gap:356px;
    max-width: 1340px;;
    
}


.footer__menu-list{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    list-style: none;
    
}

.footer__menu-list-item{
    display: flex;
    justify-content: center;


}
.footer__menu-link{
    display: block;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__social-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    gap: 48px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
 } 

.footer__social-icon
{
    height: 48px;
}
/* Все свойства footer - конец */